<h1>Bienvenue sur Leftovers !</h1>
<h3>Voici les annonces récentes :</h3>
    <ul>
    {% for annonce in annonces %}
        <li><a href="/Leftovers/{{Produit.id}}/">{{annonce.nom_du_produit}}</a></li>
    {% endfor %}
    </ul>
