<TITLE>ZeroWaste - Accueil</TITLE>

<h1>Bienvenue sur ZeroWaste !</h1>
<h2>Le site pour ne rien gaspiller à CS</h2>

<BODY BGCOLOR="FFFFFF"> 
    <HR> 
    <a href="/eat_with_me/">Eat with me</a> est une application pour partager vos repas un peu trop conséquents. 
    <HR> 
</BODY> 

