<h1>Bienvenue sur EatWithMe !</h1>
<h3>Annonces récentes :</h3>
    <ul>
    {% for annonce in annonces %}
        <li><a href="/eat_with_me/{{annonce.id}}/">{{annonce.nom_du_plat}}</a></li>
    {% endfor %}
    </ul>

