<TITLE>ZeroWaste - Accueil</TITLE>

<h1>Bienvenue sur ZeroWaste !</h1>
<h2>Le site pour ne rien gaspiller à CS</h2>



<BODY BGCOLOR="FFFFFF"> 
    <HR> 
    
    <a href="/eat_with_me/">Eat with me</a> est une application pour partager vos repas un peu trop conséquents. 

    <br> 
    <br> 
    <a href="/leftovers/">Leftovers</a> est une application pour donner ou vendre les restes que vous n'aurez pas le temps de manger.
    <HR> 


<IMG SRC="https://hebergeur-images.com/up/8bd2d41b22d6647557b6e136fe119396.jpg" width="700" ALIGN="CENTER"> 
On vous présente notre équipe ! 

</BODY> 